<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=.\EXP14;AttachDbFilename=|DataDirectory|\aspnet-WebTrackr.mdf;Initial Catalog=aspnet-WebTrackr-20150519094824;Integrated Security=True;"
    providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=.\EXP14;AttachDbFilename=|DataDirectory|\aspnet-WebTrackr.mdf;Initial Catalog=aspnet-WebTrackr-20150519094824;User ID=servermgr;Password=defr3sTu;" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebTrackr.mdf;Initial Catalog=aspnet-WebTrackr-20150519094824;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
