
.project-list table tr td {
    border-top: none;
    border-bottom: 1px solid @gray-light-border;
    padding: 10px 10px;
    vertical-align: middle
}


.projects .project-label {
    font-weight: 600
}

.projects .hpanel .panel-body {
    border-bottom: none
}

.projects .hpanel:last-child .panel-body {
    border-bottom: 1px solid @border-gray-lighter
}

.projects .hpanel:last-child .panel-body {
    border-bottom: 1px solid @border-gray-lighter
}

.projects .hpanel h4 a {
    color: @gray-light
}

.projects .project-people img {
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-bottom: 4px
}

.projects .project-info {
    text-align: right
}

@media (max-width: 768px) {
    .projects .project-info {
        text-align: left
    }
}