body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.smaller{
    font-size: 11px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/



/**** Text Logo Styling ****/

.header-row {
        background-color: #eeeeee;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.site-title {
    /*padding-bottom: 8px;*/
    text-decoration: none;
}

.site-title-primary {
    font-size: 26px;
    color: #fb8c00;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.site-title-suffix {
    font-size: 24px;
    color: #555555;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.site-title > a, .site-title  > a:visited, .site-title > a:hover, .site-title > a:active { 
    /*color: #fb8c00;*/ 
    text-decoration: none;
}

.site-title-primary > a, .site-title-primary > a:visited, .site-title-primary > a:hover, .site-title-primary > a:active { 
    color: #fb8c00; 
    text-decoration: none;
}

.site-title-suffix > a, .site-title-primary > a:visited, .site-title-primary > a:hover, .site-title-primary > a:active { 
    color: #fb8c00; 
    text-decoration: none;
}

/**** Text Logo Styling ****/