
.badge.badge-success {
    background-color: @brand-success
}

.badge.badge-info {
    background-color: @brand-info
}

.badge.badge-danger {
    background-color: @brand-danger
}

.badge.badge-warning {
    background-color: @brand-warning
}

.badge.badge-primary {
    background-color: @brand-primary
}