<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\EXP14;AttachDbFilename=|DataDirectory|\aspnet-Sandbox3.mdf;Initial Catalog=aspnet-Sandbox3-20150519094824;Integrated Security=True;User Instance=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
