<?xml version="1.0" encoding="utf-8" ?>
<!--
In order to allow ConfigurationManager.RefreshSection("appSettings") 
to work you need to set config source in main config file like so:
<appSettings configSource="appSettings.config"></appSettings>
-->
<appSettings>
  <add key="testKey" value="Hello World!" />
</appSettings>