<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net452" />
  <package id="Business.Common" version="1.0.14" targetFramework="net452" />
  <package id="Business.Excel" version="1.0.1" targetFramework="net452" />
  <package id="CsvHelper" version="2.13.0.0" targetFramework="net452" />
  <package id="Data.DbClient" version="1.0.7" targetFramework="net452" />
  <package id="DbExtensions" version="5.0.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EPPlus" version="4.0.4" targetFramework="net452" />
  <package id="fasterflect" version="2.1.3" targetFramework="net452" />
  <package id="Flurl" version="1.0.10" targetFramework="net452" />
  <package id="Flurl.Http" version="0.7.0" targetFramework="net452" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.7" targetFramework="net452" />
  <package id="NetSuite.RESTlet.Dto" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Npgsql" version="3.0.1" targetFramework="net452" />
  <package id="NsRest" version="1.0.2" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.1.022" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.4" targetFramework="net452" />
</packages>