<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=.\EXP14;AttachDbFilename=|DataDirectory|\aspnet-Sandbox.mdf;Initial Catalog=aspnet-Sandbox-20150519094824;Integrated Security=True;"
    providerName="System.Data.SqlClient" />
</connectionStrings>
