<html>
<body style="font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 8pt;">
    A new ${preferences.naming_lead?lower_case} has been created through the online form ${onlineForm.name}.<br />
    <br />
    Please see the ${preferences.naming_lead?lower_case}&#39;s details below:<br />
    <br />
    Company Name: ${customer.companyName}<br />
    Phone: ${customer.phone}<br />
    Email: ${customer.email}<br />
    Sales Rep: ${customer.salesRep}<br />
    <br />
    <a href="${customer.url}">Click here</a> to open this ${preferences.naming_lead?lower_case}&#39;s record in ${companyInformation.productName}.
</body>
</html>